.addOptions{
    padding: 1rem;
    background-color: $box-body-color;
    .form{
        display: flex;
        justify-content: space-between;
        .input-text{
            padding: 11px;
            width: 70%;
            margin-right: 1rem;
            background-color: $body-color;
            border: none;
            border-bottom: 2px solid #282b36;
            color:#FFF;
            font-weight: bold;
            font-size: 18px;
        }
        button{
            padding: 12px;
            background-color: $button-color;
            border: 0;
            border-bottom: 2px solid $border-color;
            color: #FFF;
            width: 30%;
            font-weight: bold;
            &:disabled{
                opacity: .5;
            }
        }
    }
    .check{
        color: red;
        padding-top: 5px;
    }
}

@media (max-width: 426px) {
    .addOptions{
        .form{
            display: block;
            .input-text{
                width: 100%;
            }
            button{
                width: 100%;
                margin: 10px 0;
            }

        }
    }
}