.header{
    background-color: $header-color;
    padding: 1rem 0;
    .header-title{
        color: #FFF;
        font-size: 32px;
        margin: .2rem 0;
    }
    .header-subTitle{
        color: #A5AFD7;
    }
}