.option{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #FFF;
    border-bottom: 1px solid $box-border;

    .option-text{
        display: flex;
        margin-left: 5px;
        font-size: 25px;
        width: 100%;
    }
    button{
        background: none;
        border: none;
        font-weight: bold;
        color: $white-color;
        cursor: pointer;
    }
    .buttons{
        display: flex;
    }
}

@media (max-width: 426px) {
    .option .option-text{
        font-size: 20px;
    }
}