.options{
    .options-head{
        padding: 20px;
        display: flex;
        background-color: $box-head-color;
        color: $text-color;
        justify-content: space-between;
        button{
            background: none;
            border: none;
            color: $text-color;
            font-weight: bold;
        }
    }
    .options-body{
        background-color: $box-body-color;
        .options-alert{
            color: $text-color;
            font-size: 20px;
            text-align: center;
            padding: 1rem 0;
        }
    }
    

}